.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

body{
  margin: 0;
  padding: 0;
}

.Screens{
  width: 90%;
}

.Sidebar{
  display: flex;
  height: 100%;
  width: 250px;
  background-color: #2f4050;
}

.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
  z-index: 999999;
}

.SidebarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: #293846;
}

.SidebarList .row #active{
  background-color: #293846;
}

.row #icon{
  font-size: 20px;
  width: 0;
}

.row #title{
  flex: 80%;
  width: 20px;
}