@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.main{
    min-width: max-content;
   width: 200px;
    padding: 25px;
    margin: 10px;
    text-align: left;
}
.title{
    width: inherit;
    color: rgb(109, 109, 109);
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}
.text{
    color: rgb(15, 15, 15);
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Lato', sans-serif; 
}
.fas{
    font-size: 38px;
    text-align: center;
    position: absolute;
    top: 80px;
    right: 48px;
}
.hr{
    width: 5rem;
    display: block;
    height: 2px;
    background-color: white;
    transform: rotate(90deg)
}
.red{
    background-color: red !important;
}
.yellowgreen{
    background-color: yellowgreen !important;
}
.blue{
    background-color: blueviolet !important;
}