.main{
    display: flex;
    width: 270px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.title{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: honeydew;
    font-size: 18px;
    text-transform: capitalize;
}
.text{
    color: honeydew;
    font-size: 30px;
    text-transform: capitalize;
}
.fas{
    font-size: 25px;
    text-align: center;
}
.hr{
    width: 5rem;
    display: block;
    height: 2px;
    background-color: white;
    transform: rotate(90deg)
}
.red{
    background-color: red !important;
}
.yellowgreen{
    background-color: yellowgreen !important;
}
.blue{
    background-color: blueviolet !important;
}